<h1>会社一覧</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>会社名</th>
      <th>住所</th>
      <th>電話番号</th>
      <th>ファックス</th>
      <th>Webサイト</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @companies.each do |company| %>
    <tr>
      <td><%= company.name %></td>
      <td><%= company.address %></td>
      <td><%= company.tel %></td>
      <td><%= company.fax %></td>
      <td><%= company.url %></td>
      <td><%= link_to '詳細', company, class:'btn btn-default' %></td>
      <td><%= link_to '編集', edit_company_path(company), class:'btn btn-default' %></td>
      <td><%= link_to '削除', company, method: :delete, data: {confirm: '削除しますか?'} , class:'btn btn-default'%></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to '会社を新規登録する', new_company_path, class:'btn btn-default' %>
