<p id="notice"><%= notice %></p>

<p>
  <strong>会社名:</strong>
  <%= @company.name %>
</p>

<p>
  <strong>住所:</strong>
  <%= @company.address %>
</p>

<p>
  <strong>電話番号:</strong>
  <%= @company.tel %>
</p>

<p>
  <strong>ファックス:</strong>
  <%= @company.fax %>
</p>

<p>
  <strong>Webサイト:</strong>
  <%= @company.url %>
</p>

<%= link_to '編集', edit_company_path(@company), class:'btn btn-default' %>
<%= link_to '部署一覧へ', company_groups_path(@company), class:'btn btn-default' %>
<%= link_to '会社一覧へもどる', companies_path, class:'btn btn-default' %>




