<h2>社員一覧（<%= @company.name %>:<%= @group.name %>）</h2>

<table class="table table-hover">
  <thead>
    <tr>
      <th>氏名</th>
      <th>メールアドレス</th>
      <th>電話番号</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
         <td><%= user.name %></td>
         <td><%= user.mail %></td>
         <td><%= user.tel %></td>
         <td>
           <%= link_to '詳細', company_group_user_path(@company, @group, user), class:'btn btn-default'  %>
           <%= link_to '編集', edit_company_group_user_path(@company, @group, user), class:'btn btn-default' %>
           <%= link_to '削除', company_group_user_path(@company, @group, user), method: :delete, data: { confirm: '削除しますか？' }, class:'btn btn-default' %><br />
         </td>
       </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '社員を追加する', new_company_group_user_path(@company, @group), class:'btn btn-default' %>
<%= link_to '部署一覧へ戻る',company_groups_path(@company), class:'btn btn-default' %>
