<!DOCTYPE html>
<html>
  <head>
    <title>Curd</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <div id="wrap">
    <div class="container">

      <div>
        <ul class="nav nav-tabs">
          <strong><li class="active">名刺管理アプリ</li></strong>
          <li role="presentation"><a href="#">Link1</a></li>
          <li role="presentation"><a href="#">Link2</a></li>
          <li role="presentation"><a href="#">Link3</a></li>
        </ul>
      </div>

       
      <%= yield %>

    </div>
   </div>

      <footer class="footer">
        <div class="container">
          <p class="text-muted">2018 名刺管理アプリ</p>
        </div>
      </footer>

  </body>
</html>
