<h3><%= @company.name %></h3>
<h1>部署一覧</h1>

<table class="table table-hover" >
  <thead>
    <tr>
      <th>部署名</th>
    </tr>
  </thead>

  <tbody>
    <% @groups.each do |group| %>
      <tr>
        <td><%= group.name %></td>
        <td><%= link_to '詳細', company_group_path(@company, group), class:'btn btn-default' %></td>
        <td><%= link_to '編集', edit_company_group_path(@company, group), class:'btn btn-default' %></td>
        <td><%= link_to '削除', company_group_path(@company, group), method: :delete, data: { confirm: '削除してもいいですか?' }, class:'btn btn-default' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '部署を追加する', new_company_group_path(@company), class:'btn btn-default' %>
<%= link_to '会社一覧へ戻る', companies_path, class:'btn btn-default' %>
